<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Palindrome</title>
  </head>
  <body>
    <section class="locationOfInfo shadow">
      <h1>Palindrome Checker</h1>
      <p>Is it a palindrome?</p>
    </section>
    <section>
      <form action="/phrases" method="POST">
        <input id="userInputWords" type="text" name="input" placeholder="Enter Name" />
      <button id="click" type="button" name="button">Click Me</button>
      </form>
    </section>
    <section>
      <p>Is this a palindrome?</p>
      <h2></h2>
    </section>

    <script src="main.js"></script>
  </body>
</html>
